body {
	background-color:#E2AAFF;
	font-family:'Raleway',sans-serif;
	text-align: center;
}
header {
	font-size:44pt;
	font-family: 'Dancing Script',cursive;
	margin-top:60px;
	margin-bottom:50px;
	padding-bottom:20px;
	border-bottom: 1px solid #F2D9FF;
}
nav {
	position:fixed;
	top:0px;
	left:0px;
	background-color:#521466;
	width:100%;
	height:40px;
}
ul {
	display:table;
	width:100%;
	padding:0px;
	margin:0px;
	position:relative;
}
li {
	padding:10px;
	display:table-cell;
	width:25%;
	white-space: nowrap;
}
a {
	text-decoration: none;
	color:white;
}
section {
	height:500px;
	float:left;
	width:19%;
	overflow:scroll;
	border-right: 1px solid #F2D9FF;
}
aside {
	height:500px;
	float:left;
	width:80%;
	overflow: scroll;
	font-size: 14pt;
}
img {
	width:500px;
	padding-top:50px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
img.icon {
	height:75px;
	width:75px;
	display:inline;
	padding:10px;
	padding-bottom:20px;
}

table {
	width:100%;
	padding:20px;
	text-align: center;
	font-size:14pt;
}

table.classes {
	border-spacing:50;
}

footer {
	clear:both;
	position:fixed;
	left:0px;
	bottom:0px;
	width:100%;
}
td {
	vertical-align: middle;
}