.high {
	color:#CC0000;
	font-weight: bold;
	
}

.medium {
	color:#FFF833;
}

.low {
	color:#33C446;
}

.todo {
	background-color:#CCCCCC;
	margin-right:auto;
	margin-left:auto;
}

li:before {
	content:'\25A1'
}

.complete:before {
	content:'\2713'
}

.complete {
	text-decoration:line-through;
}

ul {
	list-style:none;
}